html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0; /* Add padding to remove default margin and padding */
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Set z-index to 0 */
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  padding-top: 100vh; /* Adjust according to video height */
  scroll-margin-top: 100vh; /* Adjust according to video height */
  position: relative; /* Set position to relative */
  z-index: 1; /* Set z-index to 1 to appear above the video */
}
